/* Sidebar.css */
.sidebar {
  background-color: #ebe0ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.sidebar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar-item:hover {
  color: #c64039;
}

.sidebar-item span {
  margin-left: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #000;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: #c64039;
}
